.accTag {
    display: flex;
    padding: 0;
}

.accTagOne {
    width: 115px;
    min-height: 25px;
    text-align: center;
    background:#FF6060 ;
    color: white;
    border-radius: 10px;
    font-size: 13px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;    
}

@media only screen and (max-width : 720px) { 
    .accTag {
        padding: 5px 0px;
        margin: 0;
    }
    .accTagOne {
        width: 84px;
        height: 18px;
        font-size: 10px;
    }
}