.accStars {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media only screen and (max-width : 767px) { 
    .accStars img{
        width: 13px;
        height: 13px;
        margin-right: 6px;
    }

}