.accStars {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media only screen and (max-width : 720px) { 
    .accStars img{
        width: 13px;
        height: 13px;
    }
}