.bodyError{
    border-radius: 0px;  
    display: flex;
    flex-direction: column;  
    align-items: center;
    font-weight: 500;
}

.textError {
    font-size: 288px;
    font-weight: 700;
    margin: 0;
    padding-top: 168px;
}
    
.oups{
    font-size: 36px;
    padding-top: 66px;
    margin: 0;
}

.lien {
    font-size: 18px;
    padding: 182px 0 159px 0;
    margin: 0;
}

@media only screen and (max-width : 1024px) {
    .textError {
        font-size: 250px;
        text-align: center;
       }
       .oups {
        font-size: 45px;
        text-align: center;
       }
       .lien {
        font-size: 22px;
       }
}


@media only screen and (max-width : 900px) {
    .textError {
        font-size: 200px;
        text-align: center;
       }
       .oups {
        font-size: 35px;
        text-align: center;
       }
       .lien {
        font-size: 18px;
       }

}

@media only screen and (max-width : 720px) {
    .textError {
        font-size: 96px;
        text-align: center;
   }
   .oups {
        font-size: 18px;
        text-align: center;
   }
   .lien {
        font-size: 14px;
   }
}
