.accomodationBody {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.accomodationBody .collapseBodyOne {
    margin: 0;
    width: 45%;
    display: block;
}
.accInfosRating {
    display: flex;
}
.accTitle {
    width: 70%;
}

.accTitle h2 {
    font-size: 32px;
    text-transform: capitalize;
}

.accHost {
    display: flex;
    justify-content: flex-end;
}

.accName {
    max-width: 93px;
    text-align : right;
    align-items: center;
}

.accHost img {
    border-radius: 90px;
    max-width: 64px;
    max-height: 64px;
    margin-left: 10px;
}

.collapse {
    display: flex;
    justify-content: space-between;
}

.accHostRating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.accEquipment {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width : 900px) {
    .accTitle h2 {
        font-size: 26px;
     }
}
@media only screen and (max-width : 767px) {
    .accTitle h2 {
        font-size: 18px;
        padding-top: 15px;
        margin: 0;
     }
    .accTitle {
        width: 100%;
    }
    .accTitle p {
        padding: 5px 0px;
        margin: 0;
    }
    .collapse {
       flex-direction: column;
    }
    .accomodationBody .collapseBodyOne {
        width: 100%;
    }
    .accHost {
        width: 93px;
        margin: 0;
    }
    .accHostRating {
        flex-direction: row-reverse ;
        padding-top: 16px;
        width: 100%;
        align-items: center;
    }
    .accHost img {
        width: 32px;
        height: 32px;
    }
    .accInfosRating {
        flex-direction: column;
    }
    .accName {
        font-size: 12px;
    }
   } 