.banner {
    height: 223px;
    max-width: 1240px;
    margin: auto;
    width: 100%;
    left: 100px;
    top: 171px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}

.image-background-home {
    filter: brightness(0.7);
    z-index:1;
}

.image-background-home, .image-background-about {
    width: 100%;
    max-height: 223px;
    border-radius: 25px;  
}

.text-background {
    z-index:2;
    color: white;
    font-size: 48px;
    position: absolute;
}