#bodyError{
    width: 100%;
    max-width: 1240px;
    border-radius: 0px;  
    display: flex;
}
#titleError {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#textError {
    height: 263px;
    width: 100%;
    max-width: 597px;
    font-size: 288px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 0px;
}
    
#oups{
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    margin-top: 66px;

}

#lien {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    margin-bottom: 159px;
}