.accomodations {
    height: 829px;
    max-height: 829px;
    max-width: 1240px;
    margin:auto;
    border-radius: 25px;
    background: #F6F6F6;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 31px;
    overflow: scroll;
    margin-top: 43px;
    position: relative;
}

.home-item {
    height: 340px;
    width: 340px;
    left:0px;
    top:0px;
    border-radius: 10px;
}

.home-card {
    height: 340px;
    width: 340px;
    margin: 25px 30px 25px 30px;
    list-style-type: none;
	display: inline-flex;
	justify-content: center;
	text-transform: capitalize;
    
}

.home-item-cover {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    position: relative;
    z-index:1;
    
}
.titre {
    position: relative;
    width:300px; 
    height:52px; 
    border-radius: 10px;
    z-index:3;
    font-size:18px;
    top: -20%;
    color: #F6F6F6;
    background-color: #FF6060;
    opacity: 0.8;
}
.home-list {
	flex-wrap: wrap;
    padding-inline-start: 0px;

}
