* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    color: #FF6060;
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

#root {
    margin: 0 100px 0 100px;
}

a {
    color: #FF6060;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

@media only screen and (max-width : 1024px) {
    #root {
        margin: 0 60px 0 60px;
    }
}
@media only screen and (max-width : 900px) {
    #root {
        margin: 0 40px 0 40px;
    }

}
@media only screen and (max-width : 767px) {
    #root {
        margin: 0 20px 0 20px;
    }
}