.collapseBodyOne {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
   
}

.bannerAbout .collapseBodyOne {
    padding: 0 100px 0 100px;
}

.collapseTitle {
    display: flex;
    width: auto;
    max-height: 47px;
    background-color:#FF6060;
    color: white ;
    margin-top: 31px;
    border-radius: 5px;
    padding:0 18px 0 18px ;
    align-items: center;
}

.collapseTxt {
    width: 1023px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapseContent {
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .2s ease-in;
}

.open .collapseContent {
    visibility: visible;
    opacity: 1;
    background: #F6F6F6;
    color: #FF6060;
    padding : 36px 27px 19px 18px;
    height: auto;
}

.open .image-collapse {
    transform: rotate(180deg);
}

@media only screen and (max-width : 900px) {
    .collapseBodyOne {
        font-size: 22px;
    }
    .open .collapseContent {
        padding : 20px 20px 10px 10px;
    }
}
@media only screen and (max-width : 767px) {
    .collapseBodyOne {
        font-size: 13px;
        padding: 0;
    }
    .collapseTitle {
        height : 30px;
        margin-top: 20px;
    }
    .image-collapse img {
        width: 16px;
    }

}
