.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 65px 0;
}
.logo-kasa {
    width: 211px;
    height: 100%;
}

.listNav {
    display: flex;
    align-items: center;
    padding: 0px;
    margin:0 ;
}

.listNav .active {
    text-decoration: underline;
}

.pointNav {
    font-size: 24px;
    font-weight: 500;
    padding-left: 57px;
}

@media only screen and (max-width : 1024px) {
    .pointNav {
        font-size: 22px;
        padding-left: 45px;
    }
}
@media only screen and (max-width : 900px) {
    .pointNav {
        font-size: 20px;
        padding-left: 30px;
    }
    .logo-kasa {
        max-width: 190px;
    }
    .header {
        padding: 30px 0 30px 0;
    }
}
@media only screen and (max-width : 767px) {
    .logo-kasa {
        max-width: 145px;
    }
    .pointNav  {
        font-size: 12px;
        padding-left: 10px;
        text-transform: uppercase;
    }
    .listNav a {
        padding-left: 10px;
    }
    .header {
        padding: 20px 0 20px 0;
    }
}