.footer {
    background-color: black;
    color: white;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.logo-footer {
   max-width: 122px;
   margin: auto;
}

.txt-footer {
    margin-bottom: 29px;
    font-size: 24px;
    text-align: center;
}

@media only screen and (max-width : 900px) {
    .txt-footer {
        font-size: 18px;
    } 
}
@media only screen and (max-width : 480px) {
    .txt-footer {
        font-size: 12px;
    } 
}