.slider {
    position: relative;   
    display: flex;
    align-items: flex-end;
}
.position {
    position: absolute;
    width : 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    color: white;
}
.image {
    height: 415px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.slide.active {
    visibility: visible;
    opacity: 1;
    width: 100%; 
    height: 100%; 
}
.slide {
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.arrow {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.arrowR , .arrowL {
    position: absolute;
    max-height: 79px;
    max-width: 46px;  
}

.arrowR {
   right: 0px;
}

.length {
    display: flex;
}

@media only screen and (max-width : 1024px) {
    .image {
        height: 380px ;
    }
}
@media only screen and (max-width : 900px) {
    .image {
        height: 340px ;
    }
}
@media only screen and (max-width : 767px) {
    .image {
        height: 255px ;
        border-radius: 10px;
    }
    .arrowR img , .arrowL img {
        height: 20px;
        width: 12px;
}
    .position {
        visibility: hidden;
    }
}